.wrapper {
    background-color: #EFF0F3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectlist {
    width: 40%;
}

.button {
    background: #144F4F;
    color: #FFFFE6;
    border: none;
    padding: 12px 0;
    width: 30%;
    border-radius: .5em;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 32px;
}

.button:hover {
    opacity: 0.9;
}